body {
    padding: 50px;
    background-color: #8b928b;
    font-family: sans-serif;
  }

.custom_card{
  margin-bottom: 0.5rem;
  
}

.custom_delete_button{
  background-color: black;
  color:white;
  border-color: black;
  margin-left: 65%;
  margin-bottom: 1rem;
  width: 9rem;
}

.container{
  width: 35%;
  
}
