body {
    padding: 50px;
    background-color: #8b928b;
    font-family: sans-serif;
  }

.custom_card{
  margin-bottom: 1rem;
  
}

.custom_delete_button{
  background-color: black;
  color:white;
  border-color: black;
  margin-left: 87.5%;
  margin-bottom: 1rem;
}