body {
    margin-top: 3%;
    background-color: #8b928b;
    font-family: sans-serif;
  }

.custom_card{
  margin-bottom: 2%;
}

.custom_delete_button{
  background-color: black;
  color:white;
  border-color: black;
  margin-left: 65%;
  margin-bottom: 2%;
  width: 35%;
}

.container{
  width: 35%;
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

